[Unit]
Description=Ansible pull service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'ansible-pull -U {{ repo_url }} {% if only_if_changed -%} --only-if-changed {%- endif %} --directory {{ repo_local_directory }}  -i $(uname -n), {{ playbook_path }}'
TimeoutStopSec=600

[Install]
WantedBy=basic.target
